  /* Ограничиваем высоту изображения */
  .car-image {
    max-height: 400px; /* Измените высоту под ваш дизайн */
    object-fit: cover;
    position: relative;
  }

  /* Затемнение изображения через псевдоэлемент */
  .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой */
    z-index: 1;
  }

  /* Текст над изображением */
  .carousel-caption {
    z-index: 2; /* Выводим текст поверх затемнения */
    left: 10px; /* Расположим текст слева */
  }

  /* Кнопка "Посмотреть все" в правой части */
  .button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2; /* Кнопка также поверх затемнения */
  }

  /* Стили для текста и кнопки */
  .carousel-caption h5 {
    font-size: 24px;
    color: #fff;
    text-align: left;
  }