.cars_section {
    margin-bottom: 50px; /* Отступ снизу от другой секции */
}

/* Контейнер карусели */
.carousel-inner {
    position: relative;
    width: 100%;
    height: 500px; /* Высота карусели */
    display: flex;
    align-items: center;
}

.carousel-item {
    position: relative;
    width: 100%;
}

/* Изображения автомобилей */
.car-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабируем изображение, чтобы оно заполняло контейнер */
}

/* Затемнение изображения */
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Затемняем изображение */
    z-index: 1;
}

/* Контейнер для текста и кнопки */
.carousel-caption {
    position: absolute;
    bottom: 20px; /* Смещение к низу */
    right: 20px; /* Смещение к правому углу */
    z-index: 2; /* Контент поверх затемненного изображения */
    text-align: right; /* Выравнивание текста по правому краю */
}

/* Текст заголовка */
.carousel-caption h8 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 10px;
}

/* Кнопка "Посмотреть все" */
.carousel-caption .btn {
    padding: 10px 20px;
    background: #04DBC0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.carousel-caption .btn:hover {
    background-color: #357fce;
}