#nav-menu-full .bg-wrap{
    background-color: #eeeeee;
}#nav-menu .bg-wrap{
    background-color: #eeeeee;
}#header-text-2 .bg {
    background-image: url('../images/bg-42.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:1;
}